<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
             <tr>
                <th>name</th>
                <th>email</th>
                <th>password</th>
                <th>edit</th>
                <th>delete</th>
            </tr>   
        </thead>
        <tbody>
            {% for itam in form %} 
            <tr>              
                <td>{{itam.name}}</td>
                <td>{{itam.email}}</td>
                <td>{{itam.password}}</td>
                <td><a href="{% url 'edit' itam.id %} ">EDIT</a></td>
                <td><a href="{% url 'delete' itam.id %} ">DELETE</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>